{% extends 'main/base.html' %}

{% block title%} Добавление автомобиля {% endblock %}

{% block content %}
<form method = "post" enctype="multipart/form-data" class="form-control d-flex flex-column gap-2">
    <input name = "car_mark" type = "text"  placeholder="Марка" class="form-control">
    <!-- <input name = "price" type = "text"  placeholder="Цена" class="form-control"> -->
    <input name = "description" placeholder = "Кратко опишите ваше авто" type = "text" class = "form-control" > <!-- Класс потом спросить -->
    <input name = "speed" placeholder = "Максимальная скорость (км/ч)" type = "number" class = "form-control" > <!-- Класс потом спросить + тип -->
    <input name = "handling" placeholder = "Управляемость (1-10)" type = "number" min="1" max="10" class = "form-control" >
    <input name = "durability" placeholder = "Устойчивость (1-10)" type = "number" min="1" max="10" type = "text" class = "form-control" >
    <input name = "fuel_consumption" placeholder = "Расход топлива (л/100 км)" type = "number" class = "form-control" >
    <input name = "seating_capacity" placeholder = "Количество мест" type = "number" min = "1" class = "form-control" >
    <input name = "customizations" placeholder = "Модификации" type = "text" class = "form-control" >
    {{ form.valuer }}
    {{ form.picture(class = "form-control")}}

    <input placeholder = "Добавить" type = "submit" class ="btn btn-success">
</form>
{% endblock %}